
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section__title {
    font-weight: bold;
    font-size: 20px;
}

.search {
    padding: 10px;
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    background-color: var(--text);
    color: var(--bg);
    border: none;
}