

.list {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;

}

.list__item {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.list__item--completed {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: rgb(124, 255, 124);
}

.list__item--overdue {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #ff7a7a;
}

.list__fix {
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
    color: white;
}

.list__delete {
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
    color: white;
}

.list__completed {
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
}

.item__meta {
    font-size: 10px;
    color: #666;
    margin: 0;
}

.list__item {
    border: 2px solid gray;
}

.editor__input {
    display: block;
    margin: 4px 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btnControl {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.btnControlImg {
    max-height: 17px;
    max-width: 17px;
    object-fit: contain;
}