

.list {
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    width: 80%;
    column-count: 7;
    column-gap: 12px;
    margin: 0 auto;
}

.list__item {
    break-inside: avoid;
    margin-bottom: 12px;

    max-width: 200px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list__item > span {
    display: block;
    max-width: 100%; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
}

.list__item--completed {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: rgb(124, 255, 124);
    opacity: 0.5;
}

.list__item--overdue {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #ff7a7a;
}

.list__fix {
    width: 27px;
    height: 27px;
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
    color: white;
}

.list__delete {
    width: 27px;
    height: 27px;
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
    color: white;
}

.list__completed {
    width: 27px;
    height: 27px;
    border: 2px solid gray;
    padding: 3px;
    background-color: white;
}

.item__meta {
    font-size: 10px;
    color: #666;
    margin: 0;
    text-align: start;
    display: block;
    max-width: 100%; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
}

.list__item {
    border: 2px solid gray;
}

.editor__input {
    display: block;
    max-width: 90%;
    padding: 5px;
    margin: 2px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: var(--text);
    color: var(--bg);

}
.editor__input::placeholder {
    color: var(--bg);
}

.btnControl {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.btnControlImg {
    height: 19px;
    width: 19px;
    object-fit: cover;
}