.auciliatyContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 16px;
    gap: 10px;
}

.paperMonth {
    width: 150px;
    height: 160px;
    background-color: var(--border);
    border-radius: 10px;
}

.timeStapsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
    height: 720px;
    overflow: scroll;
}

.timeStap {

}