
.header {
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*margin-bottom: 40px;*/
    border-bottom: 2px solid gray;
}

.controlBtn {
    display: flex;
    gap: 10px;
}

.header_dark {
    background-color: black;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.logo__title {
    font-size: 18px;
    color: var(--text);

}

.theme_btn {
    background-color: gray;
    padding: 5px;
    width: 35px;
    height: 35px;
}

.theme__img {
    /* width: 20px;
    height: 20px; */
    max-width: 100%;
    height: initial;
    object-fit: contain;
}

.profile_btn {
    background-color: var(--text);
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__img {
    max-width: 100%;
    height: initial;
    object-fit: cover;
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
    position: relative;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.navigation__list > li  {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.navigation__link {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    /* position: fixed; */
}
.navigation__link:hover {
    transform: scale(1.2);
    /* font-weight: bold; */
    /* transition: 0.5s ease-in-out; */
}

@media (max-width: 860px) {
    .navigation {
        display: none;
    }
}