.datasContainerWeek {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerHeader {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--border);
}

.weekItem {

}

.weekItemTitle {

}

.weekItemDate {

}

.containerWeek {
    height: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    overflow: scroll;
}

.columnDay {
    box-sizing: border-box;
    width: 100%;
    height: 1200px;
    border: 2px solid var(--border);
    background-color: gray;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    gap: 10px;
    padding: 5px;
}


.hourBlock {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #9b9b9b;
    /*border: 2px solid white;*/
    border-radius: 10px;
}
