

.form {
    padding: 10px;
    border: 2px solid gray;
    background-color: var(--bg);
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .form__title {
    font-weight: bold;
} */

.form__input {
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;

}