

.form {
    padding: 30px;
    background-color: var(--bg);
    border-radius: 20px;
    align-items: center;
    /* width: 300px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form__title {
    font-weight: bold;
}

.form__input {
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;

}